.App {
  text-align: center;
}

.App .Input button {
    margin-left: 5px;
}

.App .Input input {
    width: 300px;
    height: 20px;
    padding-left: 5px;
}

.App .Input input,button {
    border-radius: 5px;
    border-width: 1px;
    border-style: inset;
}

.App .Info {
    margin-top: 10px;
}

.App .Error {
    color: red;
}

.App .Success {
    color: blue;
}

.App .Recent {
    margin-bottom: 10px;
}

.App .Recent span.button {
    display: block;
    text-decoration: underline;
    cursor: pointer;
    color:blue;
}

.Histogram .Filter {
    margin-top: 5px;
}

.Histogram .Filter label[for=sorting] {
    margin-left: 5px;
}

/* Override recharts */
.recharts-responsive-container {
    margin: 0 auto;
}
